<!DOCTYPE html>
<html lang="en">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap-slider.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap-popover.js"></script>
  <script src="js/bootstrap-tooltip.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="css/slider.css" rel="stylesheet" media="screen">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#"><img src="http://i.imgur.com/uUqXf0J.png">Pull Request Metrics</a>
    </div>
  </div>
  <%= yield%>
</html>
