<head>
  <meta charset="utf-8">
  <title>Puppet Pull Request Metrics</title>
  <link type="text/css" rel="stylesheet" href="css/dc.css"/>
  <script src="js/d3.v3/d3.v3.js"></script>
  <script src ="js/crossfilter-1.2.0/crossfilter.min.js"></script>
  <script src="js/dc.js-1.4.0/dc.js"></script>
  <script src="js/charts.js"></script>
</head>
<script type="text/javascript">
  d3.json('/data/puppet_pulls', function(dataset) {
      var dateFormat = d3.time.format.utc('%Y-%m-%dT%H:%M:%SZ');

      var dataset = dataset.map(function(d){
        return {'month': d3.time.month(dateFormat.parse(d.close_time)),
        'repo': d.repo_name,
        'ttl': d.ttl,
        'week': d3.time.week(dateFormat.parse(d.close_time)),
        'community': d.community,
        'merged': d.merged};
        });

      var monthDomain = d3.extent(dataset, function(d){return d.month;});
      var weekDomain = d3.extent(dataset, function(d){return d.week;});

      var pull_requests = crossfilter(dataset);
      var all = pull_requests.groupAll();

      var monthDimension = pull_requests.dimension(function(d){return d.month;});

      var repoDimension = pull_requests.dimension(function(d){return d.repo;});

      var weekDimension = pull_requests.dimension(function(d){return d.week;});

      var communityDimension = pull_requests.dimension(function(d){return d.community;});

      var mergeDimension = pull_requests.dimension(function(d){return d.merged;});

      monthlyBarChart("#per-month", monthDimension, monthDomain);

      commChart("#community", communityDimension);

      percentMergedChart("#merged", mergeDimension);

      perRepositoryChart("#repo-names", repoDimension);

      pullRequestsPerWeek("#per-week", weekDimension, weekDomain);

      lifetimesPerMonth("#lifetimes", monthDimension, monthDomain);

      dc.renderAll();

      $('#inspectButton1').popover();
      $('#inspectButton2').popover();
  });
</script>

<div class="row-fluid">
  <div id='per-month'>
    <div class='graphTitleLeft row-fluid'>
      <div class='span6'>Pull Request Resolved Per Month</div>
      <div class='span1 offset5'>
        <% popoverTitle = "Description"%>
        <% monthDescription = "A graph of the total number of pull requests resolved per month"%>
        <button type='button' id= 'inspectButton1' class='btn btn-mini btn-default graphInfoButton' data-toggle='popover' data-placement='left' data-content=<%= "\"#{monthDescription}\"" %>data-title=<%= "\"#{popoverTitle}\"" %>)><i class='icon-search'></i></button>
      </div>
    </div>
  </div>
  <div id='repo-names'>
    <div class='graphTitleRight row-fluid'>
      <div class = 'span6'>Resolved Pull Requests by Repository</div>
      <div class = 'span1 offset5'>
        <% repoDescription = "A graph of all total resolved pull requests broken down by repository"%>
        <button type='button' id= 'inspectButton2' class='btn btn-mini btn-default graphInfoButton' data-toggle='popover' data-placement='left' data-content=<%= "\"#{repoDescription}\"" %>data-title=<%= "\"#{popoverTitle}\"" %>)><i class='icon-search'></i></button>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div id='lifetimes'>
    <div class = 'graphTitleLeft'>Average Pull Request Lifetime Per Month
    </div>
  </div>
  <div id='merged'>
    <div class = 'graphTitleRight'>Number of Pull Requests Merged vs. Closed
    </div>
  </div>
</div>
<div class="row-fluid">
  <div id='per-week'>
    <div class = 'graphTitleLeft'>Pull Requests Resolved Per Week
    </div>
  </div>
  <div id='community'>
    <div class = 'graphTitleRight'>Pull Requests From Community vs. Puppet Labs
    </div>
  </div>
</div>
</body>
