<head>
  <meta charset="utf-8">
  <title>Puppet Pull Request Metrics</title>
  <style type = "text/css">

      #barGraph {
        margin-left: 10px;
      }

      .axis path,
      .axis line {
            fill: none;
            stroke: black;
            stroke-width: 1px;
            shape-rendering: crispEdges;
         }

      .axis text {
        font-family: sans-serif;
        font-size: 11px;
        }
  </style>
  <script src="js/d3.v3/d3.v3.js"></script>
  <script src ="js/crossfilter-1.2.0/crossfilter.min.js"></script>
  <script src="js/dc.js-1.4.0/dc.js"></script>
  <link type="text/css" rel="stylesheet" href="css/dc.css"/>
</head>
  <script type="text/javascript">
      d3.json('/data/puppetlabs/pull_request', function(dataset) {
          var dateFormat = d3.time.format.utc('%Y-%m-%dT%H:%M:%SZ');
          var labelFormat = d3.time.format.utc('%b');

          dataset = dataset.map(function(d){
            return {'time': d3.time.month(dateFormat.parse(d))};
          });

          time_domain = d3.extent(dataset, function(d){return d.time;});

          var pull_requests = crossfilter(dataset);
          var all = pull_requests.groupAll();

          var timeDimension = pull_requests.dimension(function(d){return d.time;});
          var timeGroup = timeDimension.group().reduceCount().orderNatural();

          var chart = dc.barChart("#bar-chart")
            .width(900)
            .height(250)
            .gap(2)
            .dimension(timeDimension)
            .group(timeGroup)
            .centerBar(true)
            .x(d3.time.scale().domain(time_domain))
            .xUnits(d3.time.months);

        chart.xAxis().ticks(d3.time.months, 2);

        dc.renderAll();

      });
   </script>

   <div id='bar-chart'></div>
</body>
